@import "@/styles/variables";

.input_selector_and_search {
  //  width: 100%;
  background: $white;
  border-radius: $border-radius-4xl;

  .MuiOutlinedInput-notchedOutline legend {
    > span {
      display: none;
    }
  }
  fieldset {
    .MuiOutlinedInput-notchedOutline legend {
      > span {
        display: none;
      }
    }
  }

  .MuiOutlinedInput-root {
    padding: 3px !important;
  }

  .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: $primary;
    }
    &.Mui-focused fieldset {
      border-color: $primary;
    }
  }

  .MuiInputBase-input::placeholder {
    color: $textsecondary;
    font-size: $text-sm;
    font-style: italic;
    opacity: 1;
  }
}
