@import "./_variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Arimo", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: $text-3xl;
  font-weight: $bold;
  line-height: $spacing-4xl;

  @include lg {
    font-size: $text-4xl;
    line-height: $spacing-5xl;
  }
}

h3 {
  font-size: $text-2xl;
  font-weight: $semibold;
  color: $text;

  @include lg {
    font-size: $text-3xl;
  }
}

h4 {
  font-size: $text-xl;
  font-weight: $semibold;
  color: $text;

  @include lg {
    font-size: $text-2xl;
  }
}

h5 {
  font-size: $text-md;
  font-weight: $medium;
  color: $text;
}

p {
  font-size: $text-md;
  font-weight: $normal;
  line-height: $spacing-lg;

  @include lg {
    font-size: $text-md;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary_dark_15;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary_dark_20;
}

.glassContainer {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-sm;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.css-g3qfnq-MuiFormLabel-root-MuiInputLabel-root {
  display: hidden;
}
