@import "@/styles/variables";

.datePicker {
  fieldset {
    &:hover {
      border: 1px solid $primary;
    }
  }
  > span {
    display: none !important;
  }

  fieldset {
    > * > span {
      display: none !important;
    }
  }
}
