@import "@/styles/variables";

.login_container {
  &__forgot_password {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -20px;

    p {
      padding: 4px 8px;
      cursor: pointer;
      text-decoration: underline;
      transition: $transition-duration;
      color: $primary_dark_15;
      font-size: $text-sm;
      font-weight: $semibold;

      @include xl {
        color: $primary;
      }

      &:hover {
        text-decoration: underline;
        color: $primary_dark_15;
      }
    }
  }

  &__login_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
