@import "@/styles/variables";

.login-container {
  .forgot_password {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -20px;

    p {
      padding: 4px 8px;
      cursor: pointer;
      text-decoration: underline;
      transition: $transition-duration;
      color: $primary_dark_15;
      font-size: $text-sm;
      font-weight: $semibold;

      @include xl {
        color: $primary;
      }

      &:hover {
        text-decoration: underline;
        color: $primary_dark_15;
      }
    }
  }

  &__create_account_cta {
    text-align: center;
    margin-top: 20px;
    width: 100%;

    &__text {
      font-size: $text-sm;
      color: $gray;
    }

    &__link {
      font-weight: $semibold;
      color: $primary_dark_15;

      cursor: pointer;
      text-decoration: underline;
      margin-left: 5px;

      @include xl {
        color: $primary;
      }

      &:hover {
        color: darken($primary, 10%);
        font-weight: $bold;
      }
    }
  }
}
