$border-radius-sm: 0.125rem; // 2px
$border-radius-md: 0.25rem; // 4px
$border-radius-lg: 0.5rem; // 8px
$border-radius-xl: 0.75rem; // 12px
$border-radius-2xl: 1rem; // 16px
$border-radius-3xl: 1.25rem; // 20px
$border-radius-4xl: 1.5rem; // 24px
$border-radius-full: 9999px; // Fully rounded
