$transition-duration_02: all 0.2s ease;
$transition-duration: all 0.4s ease;
$transition-duration_06: all 0.6s ease;

$box-shadow-sm: 0 1px 3px $black_02;
$box-shadow-md: 0 3px 5px $black_02;
$box-shadow-lg: 0 5px 15px $black_02;
$box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
  0px 1px 18px 0px rgba(0, 0, 0, 0.12);
