@import "@/styles/variables";

.input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: -5;
  p {
    font-size: $text-sm;
    color: $gray;
    transition: $transition-duration_02;
  }

  &:focus-within p,
  &:hover p {
    color: $primary_dark_15;
    font-weight: bold;
  }

  &__header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__label_wrapper {
      display: flex;
      flex: 1;
    }

    &__required-indicator {
      color: $error;
      margin-left: 4px;
      font-weight: bold;
    }

    &__error {
      color: $error;
      font-weight: $semibold;
      font-size: $text-sm;
    }

    &__tooltip_icon {
      color: $textsecondary;
      width: 20px !important;
      height: 20px !important;
    }
  }
}

.select_and_search_error {
  .MuiOutlinedInput-root {
    fieldset {
      border: 1px solid $error;
    }
  }
}

.date_picker_error {
  .datePicker {
    fieldset {
      border: 1px solid $error;
    }
  }
}
